<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<title>权限列表 - 权限管理</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<link   rel="icon" href="http://img.wenyifan.net/images/favicon.ico" type="image/x-icon" />
		<link   rel="shortcut icon" href="http://img.wenyifan.net/images/favicon.ico" />
		<link href="../../js/common/bootstrap/3.3.5/css/bootstrap.min.css?2016-12-07 23:12:12" rel="stylesheet"/>
		<link href="../../css/common/base.css?2016-12-07 23:12:12" rel="stylesheet"/>
		<script  src="http://open.sojson.com/common/jquery/jquery1.8.3.min.js"></script>
		<script  src="../../js/common/layer/layer.js"></script>
		<script  src="../../js/common/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script  src="../../js/shiro.demo.js"></script>
		<script >
			so.init(function(){
				//初始化全选。
				so.checkBoxInit('#checkAll','[check=box]');
				//全选
				so.id('deleteAll').on('click',function(){
					var checkeds = $('[check=box]:checked');
					if(!checkeds.length){
						return layer.msg('请选择要删除的选项。',so.default),!0;
					}
					var array = [];
					checkeds.each(function(){
						array.push(this.value);
					});
					return deleteById(array);
				});
			});
			function deleteById(ids){
				var index = layer.confirm("确定这"+ ids.length +"个权限？",function(){
					var load = layer.load();
					$.post('/shiro.demo/permission/deletePermissionById.shtml',{ids:ids.join(',')},function(result){
						layer.close(load);
						if(result && result.status != 200){
							return layer.msg(result.message,so.default),!0;
						}else{
							layer.msg(result.resultMsg);
							setTimeout(function(){
								$('#formId').submit();
							},1000);
						}
					},'json');
					layer.close(index);
				});
			}
			function addPermission(){
				var name = $('#name').val(),
					url  = $('#url').val();
				if($.trim(name) == ''){
					return layer.msg('权限名称不能为空。',so.default),!1;
				}
				if($.trim(url) == ''){
					return layer.msg('权限Url不能为空。',so.default),!1;
				}
				var load = layer.load();
				$.post('/shiro.demo/permission/addPermission.shtml',{name:name,url:url},function(result){
					layer.close(load);
					if(result && result.status != 200){
						return layer.msg(result.message,so.default),!1;
					}
					layer.msg('添加成功。');
					setTimeout(function(){
						$('#formId').submit();
					},1000);
				},'json');
			}
		</script>
	</head>
	<body data-target="#one" data-spy="scroll">
<script baseUrl="/shiro.demo" src="/shiro.demo/js/user.login.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" style="z-index: 101;height: 41px;">
	  
      <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	     </div>
	     <div role="navigation" class="navbar-collapse collapse">
	     		<a id="_logo"  href="http://shiro.itboy.net/" style="color:#fff; font-size: 24px;" class="navbar-brand hidden-sm">SSM + Shiro Demo 演示</a>
	          <ul class="nav navbar-nav" id="topMenu">
				<li class="dropdown ">
					<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="/shiro.demo/user/index.shtml">
						个人中心<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="./home.html">个人资料</a></li>
						<li><a href="/shiro.demo/user/updateSelf.shtml" >资料修改</a></li>
						<li><a href="/shiro.demo/user/updatePswd.shtml" >密码修改</a></li>
						<li><a href="/shiro.demo/role/mypermission.shtml">我的权限</a></li>
					</ul>
				</li>	  
				<li class="dropdown ">
					<a aria-expanded="false" aria-haspopup="true"  role="button" data-toggle="dropdown" class="dropdown-toggle" href="/shiro.demo/member/list.shtml">
						用户中心<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
							<li><a href="/shiro.demo/member/list.shtml">用户列表</a></li>
							<li><a href="/shiro.demo/member/online.shtml">在线用户</a></li>
					</ul>
				</li>	
					<li class="dropdown active">
						<a aria-expanded="false" aria-haspopup="true"  role="button" data-toggle="dropdown" class="dropdown-toggle" href="/shiro.demo/permission/index.shtml">
							权限管理<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
								<li><a href="/shiro.demo/role/index.shtml">角色列表</a></li>
								<li><a href="/shiro.demo/role/allocation.shtml">角色分配</a></li>
								<li><a href="/shiro.demo/permission/index.shtml">权限列表</a></li>
								<li><a href="/shiro.demo/permission/allocation.shtml">权限分配</a></li>
						</ul>
					</li>	
				<li>
					<a class="dropdown-toggle" target="_blank" href="http://www.sojson.com/tag/shiro">
						Shiro 博客<span class="collapsing"></span>
					</a>
				</li>	          
				<li>
					<a class="dropdown-toggle" href="http://www.sojson.com/shiro">
						本项目介绍<span class="collapsing"></span>
					</a>
				</li>	          
	          </ul>
	           <ul class="nav navbar-nav  pull-right" >
				<li class="dropdown " style="color:#fff;">
					<a aria-expanded="false" aria-haspopup="true"  role="button" data-toggle="dropdown"  
							onclick="location.href='/shiro.demo/user/index.shtml'" href="/shiro.demo/user/index.shtml" class="dropdown-toggle qqlogin" >
							管理员<span class="caret"></span></a>
							<ul class="dropdown-menu" userid="1">
								<li><a href="http://shiro.itboy.net/user/index.shtml">个人资料</a></li>
								<li><a href="http://shiro.itboy.net/role/mypermission.shtml">我的权限</a></li>
								<li><a href="javascript:void(0);" onclick="logout();">退出登录</a></li>
							</ul>
				</li>	
	          </ul>
	          <style>#topMenu>li>a{padding:10px 13px}</style>
	    </div>
  	</div>
</div>
		<div class="container" style="padding-bottom: 15px;min-height: 300px; margin-top: 40px;">
			<div class="row">
		<div id="one" class="col-md-2">
			<ul data-spy="affix" class="nav nav-list nav-tabs nav-stacked bs-docs-sidenav dropdown affix" style="top: 100px; z-index: 100;">
			 
			  <li class=" ">
			      <a href="/shiro.demo/role/index.shtml">
			    	 <i class="glyphicon glyphicon-chevron-right"></i>角色列表
			      </a>
			  </li>
			  <li class="  dropdown">
			      <a href="/shiro.demo/role/allocation.shtml">
			    	 <i class="glyphicon glyphicon-chevron-right"></i>角色分配
			      </a>
			  </li>
			  <li class="active dropdown">
			      <a href="/shiro.demo/permission/index.shtml">
			    	 <i class="glyphicon glyphicon-chevron-right"></i>权限列表
			      </a>
			  </li>
			  <li class="  dropdown">
			      <a href="/shiro.demo/permission/allocation.shtml">
			    	 <i class="glyphicon glyphicon-chevron-right"></i>权限分配
			      </a>
			  </li>
			</ul>
		</div>
				<div class="col-md-10">
					<h2>权限列表</h2>
					<hr>
					<form method="post" action="" id="formId" class="form-inline">
						<div clss="well">
					      <div class="form-group">
					        <input type="text" class="form-control" style="width: 300px;" value="" 
					        			name="findContent" id="findContent" placeholder="输入权限名称">
					      </div>
					     <span class=""> 
				         	<button type="submit" class="btn btn-primary">查询</button>
				         		<a class="btn btn-success" onclick="$('#addPermission').modal();">增加权限</a>
				         		<button type="button" id="deleteAll" class="btn  btn-danger">Delete</button>
				         </span>    
				        </div>
					<hr>
					<table class="table table-bordered">
						<tr>
							<th><input type="checkbox" id="checkAll"/></th>
							<th>权限名称</th>
							<th>角色类型</th>
							<th>操作</th>
						</tr>
								<tr>
									<td><input value="4" check='box' type="checkbox" /></td>
									<td>权限列表</td>
									<td>/permission/index.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([4]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="6" check='box' type="checkbox" /></td>
									<td>权限添加</td>
									<td>/permission/addPermission.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([6]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="7" check='box' type="checkbox" /></td>
									<td>权限删除</td>
									<td>/permission/deletePermissionById.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([7]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="8" check='box' type="checkbox" /></td>
									<td>用户列表</td>
									<td>/member/list.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([8]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="9" check='box' type="checkbox" /></td>
									<td>在线用户</td>
									<td>/member/online.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([9]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="10" check='box' type="checkbox" /></td>
									<td>用户Session踢出</td>
									<td>/member/changeSessionStatus.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([10]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="11" check='box' type="checkbox" /></td>
									<td>用户激活&禁止</td>
									<td>/member/forbidUserById.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([11]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="12" check='box' type="checkbox" /></td>
									<td>用户删除</td>
									<td>/member/deleteUserById.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([12]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="13" check='box' type="checkbox" /></td>
									<td>权限分配</td>
									<td>/permission/addPermission2Role.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([13]);">删除</a>
									</td>
								</tr>
								<tr>
									<td><input value="14" check='box' type="checkbox" /></td>
									<td>用户角色分配清空</td>
									<td>/role/clearRoleByUserIds.shtml</td>
									<td>
											<i class="glyphicon glyphicon-remove"></i><a href="javascript:deleteById([14]);">删除</a>
									</td>
								</tr>
					</table>
						<div class="pagination pull-right">
							<ul class='pagination'><li class='active'><a href='javascript:void(0);' >1</a></li><li><a href='javascript:;' onclick='_submitform(2)'>2</a></li><li><a href='javascript:;'  onclick='_submitform(2)'>下一页</a></li></ul><script>	function _submitform(pageNo){		$("#formId").append($("<input type='hidden' value='" + pageNo +"' name='pageNo'>")).submit();	}</script>
						</div>
					</form>
				</div>
			</div>
			<div class="modal fade" id="addPermission" tabindex="-1" role="dialog" aria-labelledby="addPermissionLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="addPermissionLabel">添加权限</h4>
			      </div>
			      <div class="modal-body">
			        <form id="boxRoleForm">
			          <div class="form-group">
			            <label for="recipient-name" class="control-label">权限名称:</label>
			            <input type="text" class="form-control" name="name" id="name" placeholder="请输入权限名称"/>
			          </div>
			          <div class="form-group">
			            <label for="recipient-name" class="control-label">权限URL地址:</label>
			            <input type="text" class="form-control" id="url" name="url"  placeholder="请输入权限URL地址">
			          </div>
			        </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" onclick="addPermission();" class="btn btn-primary">Save</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
			
	</body>
</html>